	h2{
		text-decoration: underline green;
	}
	p{ 
		font-size: 20px; font-style: bold; 
	}
	body{
		background-color: beige;
	}
	a{
		color:purple;
	}
	table, th, td{
		display:fixed;
		border: 5px solid gold;
		background-color: white;
		margin:20px;
		width:30%;
	}

	form{
		padding: 15px;
		border-style: solid;
		background-color: gold;
		width:30%;
		font-weight:900px;
		margin: 20px;
	}
	#change{
		font-style: italic;
		font-size:16px;
		font-weight: 300px;
	}
	.img{
		display:flex;
		justify-content:center;
		align-items: center;
	}
	.video{
		display:flex;
		justify-content:left;
		align-items: center;
		padding:10%;
	}
.vertical{
	border: 1px solid black;
	border-collapse:collapse;
}
.vertical + th, td{
	padding: 5px;
	text-align:left;
}